.box{
border: 2px solid black;
box-shadow: 0 8px 20px grey;
padding-left: 20px; 
margin-right: 430px;
padding-bottom: 10px;
background-color: lightblue;
border-radius: 20px;
margin-left: 500px;
margin-top: 50px;
}
input{
  background-color: rgb(229, 227, 227);
border-radius: 5px;
}

button{
  background-color: rgb(229, 227, 227);
  border-radius: 5px;
}
h2{
  padding-left: 30px;
  text-shadow: 0 8px 5px whitesmoke;
}
label{
  display: inline-block;
  width: 100px;
}
button:hover{
  background-color:skyblue;
}
input:hover{
  background-color: skyblue;
}
select{
  border-radius: 4px;
  background-color: rgb(229, 227, 227) ;
}