div{
  border: 2px solid burlywood;
  display: flex;
  margin-left: 350px;
  gap: 200px;
  background-color: burlywood;
  margin-right: 310px;

}
p{
  margin-top: 25px;
  font-style: italic;
}
h2{
  font-style: italic;
}
.image{
  position: relative;
  width: 600px;
}
.image img{
  width:100%;
  display: block;
}
.txt{
  position: absolute;
  color: white;
  top: 110px;
  font-style: italic;
  font-size: x-large;
}
.para{
  position: absolute;
  color: white;
  top: 140px;
  font-size: smaller;
}
button{
  position: absolute;
  top: 200px;
  background-color: bisque;
  border-radius: 8px;
  font-size: x-small;
  /* color: white; */
}
button:hover{
  background-color: burlywood;
}