*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  /* border: 2px solid rgb(223, 197, 163); */
  /* display: flex; */
  /* margin-left: 350px; */
  gap: 790px;
  background-color:rgb(231, 211, 179);
  /* margin-right: 310px; */
}
.box1{
  display: flex;
  
}
#coffee{
  margin-top: 20px;
  font-style: italic;
  margin-bottom: 15px;
  
}
#cafe{
  font-style: italic;
  margin-left: 40px;
  margin-top: 5px;
  font-size: xx-large;
}
.image{
  position: relative;
  width: 1265px;
}
.image img{
  width:100%;
  display: block;
}
.txt{
  position: absolute;
  color: white;
  top: 110px;
  font-style: italic;
  font-size: x-large;
  margin-left: 40px;
}
.para{
  position: absolute;
  color: white;
  font-style: italic;
  top: 140px;
  font-size: smaller;
  margin-left: 40px;
}
#order{
  position: absolute;
  top: 200px;
  margin-left: 40px;
  background-color: bisque;
  border-radius: 8px;
  font-size: x-small;
}
#order:hover{
  background-color: burlywood;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* margin-left: 40px 0; */
  margin-top: 15px;
  margin-bottom: 15px;
  }
.menu::before{
  content: "";
  flex: 1;
  height: 1px;
  background-color: black;
  margin: 0 15px;
}
.menu::after{
  content: "";
  flex: 1;
  height: 1px;
  background-color: black; 
  margin: 0 15px;
  
}
.box2{
  display: flex;
  gap: 50px;
  margin-left: 250px;
  }
 .image1{
  border: 2px solid rgb(230, 216, 193);
  padding: 8px;
  padding-bottom: 10px;
  background-color: rgb(230, 216, 193);
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
 }
 .image2{
  border: 2px solid rgb(230, 216, 193) ;
  padding: 8px;
  padding-bottom: 10px;
  background-color: rgb(230, 216, 193);
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
 }
 .image3{
  border: 2px solid rgb(230, 216, 193) ;
  padding: 8px;
  padding-bottom: 10px;
  background-color: rgb(230, 216, 193);
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
 }
 h3{
  text-align: center;
 }
 #par{
  text-align: center;
 }
#contact{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
   margin-top: 20px;
  margin-bottom: 15px;
}
#contact::before{
  content: "";
  flex: 1;
  height: 1px;
  background-color: black;
  margin: 0 15px;
}
#contact::after{
  content: "";
  flex: 1;
  height: 1px;
  background-color: black;
  margin: 0 15px;
}
.mail{
  text-align: center;
  
}
input{
  border-radius: 4px;
  border-color: rgb(230, 216, 193);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}
#button{
   border-radius: 4px;
  border-color: rgb(230, 216, 193);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  background-color: bisque;
}
.empty{
  border: 1px solid rgb(228, 195, 141);
  padding-bottom: 50px;
  background-color:  rgb(228, 195, 141);
}
#button:hover{
  background-color: burlywood;

}