div{
  /* border: 2px solid rgb(223, 197, 163); */
  /* display: flex; */
  /* margin-left: 350px; */
  gap: 900px;
  background-color:rgb(231, 211, 179);
  /* margin-right: 310px; */

}
.boox{
  display: flex;
  
}
p{
  margin-top: 25px;
  font-style: italic;
}
h2{
  font-style: italic;
}
.image{
  position: relative;
  width: 1260px;
}
.image img{
  width:100%;
  display: block;
}
.txt{
  position: absolute;
  color: white;
  top: 110px;
  font-style: italic;
  font-size: x-large;
}
.para{
  position: absolute;
  color: white;
  top: 140px;
  font-size: smaller;
}
button{
  position: absolute;
  top: 200px;
  background-color: bisque;
  border-radius: 8px;
  font-size: x-small;
  /* color: white; */
}
button:hover{
  background-color: burlywood;
}
.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 40px 0;
  font-size: 24px;
  font-weight: bold;
  
}
.menu::before{
  content: "";
  flex: 1;
  height: 1px;
  background-color: black;
  margin: 0 15px;
}
.menu::after{
  content: "";
  flex: 1;
  height: 1px;
  background-color: black; 
  margin: 0 15px;
  
}